.title{
background-color:rgb(235, 152, 221) ;
color:rgb(168, 71, 155);
font-family: "Protest Strike", sans-serif;
}

.body{
    background-color:rgba(168, 71, 155, 0.424) ;
}

.button{
    background: white;
    border-color:rgb(168, 71, 155);
    border-width: 3px;
}

.font{
    font-family: "Londrina Solid", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  color: rgb(168, 71, 155);
}

.restarts{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firsttwo{
    font-family: "Ojuju", sans-serif;
  font-optical-sizing: auto;
}